<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Sorry, we are unable to schedule your request for <%= @appointment.request_date.strftime("%A, %B %d, %Y") %>. We will call you within 3-5 business days to re-schedule.</p>

		<p>Thank you!</p>
		
	
  </body>
</html>