<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your request date for <%= @appointment.request_date.strftime("%A, %B %d, %Y") %> has been approved!</h1>
	<p>Please go to <a href='http://csnip.org/clinicservices09.html#preop'>http://csnip.org/clinicservices09.html#preop</a> for pre-op instructions. You will receive a reminder call prior to your scheduled date. If you need to cancel or re-schedule this date, please call 616-455-8220 x102.</p>
	<p>If you have any further questions or concerns, please email us at <a href='mailto:info@csnip.org'>info@csnip.org</a>.</p>
   <p>Thanks you and have a great day!</p>
  </body>
</html>