<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for your appointment request, <%= @appointment.first_name %>.</h1>
		<p>Your application has been received. You will be contacted with an appointment date, and instructions as soon as someone from our scheduling office has reviewed your request.</p>
		<p>Depending on the volume of requests it may take 3-5 business days. Thank you for your patience.</p>
		<p>If you have any further questions or concerns, please email us at <a href='mailto:info@csnip.org'>info@csnip.org</a>.</p>
    <p>Thanks and have a great day!</p>
  </body>
</html>