<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for your appointment request, <%= @appointment.first_name %></h1>
	<p>Providing your information for <%= @appointment.pet_name %> online allows us to devote more of our resources to taking care of your pet.</p>
	
	<p> ALL THE INFO NEEDED </p>
	reschedule or more info needed
	
  </body>
</html>