html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  body.bp h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    body.bp h1 img {
      margin: 0; }
  body.bp h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  body.bp h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  body.bp h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  body.bp h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  body.bp h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  body.bp p {
    margin: 0 0 1.1em; }
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    body.bp a:visited {
      color: #000066; }
    body.bp a:focus {
      color: black; }
    body.bp a:hover {
      color: black; }
    body.bp a:active {
      color: #cc0099; }
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  body.bp strong {
    font-weight: bold; }
  body.bp em {
    font-style: italic; }
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  body.bp sup, body.bp sub {
    line-height: 0; }
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  body.bp del {
    color: #666; }
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  body.bp dl {
    margin: 0 0 1.5em 0; }
    body.bp dl dt {
      font-weight: bold; }
  body.bp dd {
    margin-left: 1.5em; }
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  body.bp th {
    font-weight: bold; }
  body.bp thead th {
    background: #c3d9ff; }
  body.bp th, body.bp caption {
    padding: 4px 10px 4px 5px; }
  body.bp tr.even td {
    background: #e5ecf9; }
  body.bp tfoot {
    font-style: italic; }
  body.bp caption {
    background: #eee; }
  body.bp .quiet {
    color: #666666; }
  body.bp .loud {
    color: #111111; }

body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

body.bp {
  background: #0F6CA3 none repeat scroll 0 0; }
  body.bp .clear {
    clear: both; }
  body.bp .nowrap {
    white-space: nowrap; }
  body.bp .clearfix {
    overflow: hidden;
    display: inline-block; }
    body.bp .clearfix {
      display: block; }
  body.bp .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  body.bp .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  body.bp .first {
    margin-left: 0;
    padding-left: 0; }
  body.bp .last {
    margin-right: 0;
    padding-right: 0; }
  body.bp .top {
    margin-top: 0;
    padding-top: 0; }
  body.bp .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  body.bp .showgrid {
    background: url('/images/grid.png?1269800232'); }
  body.bp .error {
    padding: .2em;
    margin-bottom: .5em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
  .field_with_errors {
	border: 2px solid #dddddd;
    background: #fbe3e4;
    border-color: #fbc2c4; }
  body.bp .error a {
      color: #8a1f11; }
  body.bp .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    body.bp .notice a {
      color: #514721; }
  body.bp .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    body.bp .success a {
      color: #264409; }
  body.bp .hide {
    display: none; }
  body.bp .highlight {
    background: yellow; }
  body.bp .added {
    background: #006600;
    color: white; }
  body.bp .removed {
    background: #990000;
    color: white; }

form.bp label {
  font-weight: bold; }
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
form.bp input.title {
  font-size: 1.5em; }
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
form.bp select {
  margin: 0.5em 0; }
form.bp fieldset {
  border: 1px solid #cccccc; }
form.bp input.text, form.bp input.title,
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb; }
  form.bp input.text:focus, form.bp input.title:focus,
  form.bp textarea:focus,
  form.bp select:focus {
    border: 1px solid #666666; }
form.bp input.text, form.bp input.title {
  width: 300px; }
form.bp textarea {
  width: 390px;
  height: 250px; }
form.bp textarea {
  height: 70px;
  width: 250px; }
form.bp .required > label:after {
  content: "*";
  font-weight: bolder;
  color: red; }
form.bp .required input[type="radio"] + label:after {
  content: ""; }

body.bp.admin {
  background-color: #ddd; }

body.bp.appointment_request {
  background: #003366;
  background-image: url('http://www.csnip.org/images/background-image.jpg');
  background-repeat: repeat-x; }

body.admin #header {
  background: white url(/assets/background-gradient.gif) repeat-x scroll; }

#bar {
  padding: 10px; }

#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  background-color: white; }
  #container {
    display: block; }

#header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 10px; }
  * html #header {
    overflow-x: hidden; }

#header h1 {
  margin-top: 30px;
  font-size: 26px;
  -moz-text-shadow: 1px 1px 1px #333333;
  -webkit-text-shadow: 1px 1px 1px #333333;
  text-shadow: 1px 1px 1px #333333;
  float: right;
  margin-right: 40px;
  color: #fff; }

h2 {
  margin-left: -5px;
  border-left: 5px solid #0f63ac;
  margin-top: 0;
  padding-left: 10px;
  font-size: 16px; }

#login_link {
  float: right; }

form.simple label {
  display: inline-block;
  width: 150px;
  text-align: right;
  font-weight: bold;
  padding-right: 0.5em; }

#errorExplanation p {
  font-size: 12px; }
#errorExplanation li {
  font-size: 12px; }

.user_info, .pet_information, .litter_information {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  padding-left: 80px; }
  * html .user_info, * html .pet_information, * html .litter_information {
    overflow-x: hidden; }

.pet_history {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px; }
  * html .pet_history {
    overflow-x: hidden; }

.address_container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px; }
  * html .address_container {
    overflow-x: hidden; }

#errorExplanationContainer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  padding-left: 80px; }
  * html #errorExplanationContainer {
    overflow-x: hidden; }

.finished, .request, #users_new, .login {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  padding-left: 80px; }
  * html .finished, * html .request, * html #users_new, * html .login {
    overflow-x: hidden; }

#appointments_listing td {
  border-bottom: 1px solid #c9d9ff; }

#appointments_listing .last td {
  border-bottom: none; }

.pagination {
  margin-bottom: 10px;
  text-align: center;
  padding: .3em; }
  .pagination a, .pagination span {
    padding: .2em .5em; }
  .pagination span.disabled {
    color: #AAA; }
  .pagination span.current {
    font-weight: bold; }
  .pagination a {
    border: 1px solid #c9d9ff;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #c9d9ff;
      background: #c9d9ff;
      color: white; }
  .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .pagination .prev_page, .pagination .next_page {
    border-width: 1px; }
  .pagination .prev_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

.finished {
  text-align: center;
  margin-bottom: 40px; }

.for_cat .dog_only {
  display: none; }

.for_dog .cat_only {
  display: none; }

.form-errors input {
  background: #FBE3E4 none repeat scroll 0 0 !important; }
.form-errors label {
  color: #8A1F11; }

.notes {
  color: #666; }

.no_data {
  text-align: center; }

.thanks {
  padding-top: 1em;
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  padding-left: 80px;
  font-size: 1.5em; }
  * html .thanks {
    overflow-x: hidden; }

#appointments_listing {
  padding: 5px; }

.search {
  padding: 10px; }
  .search input {
    margin-right: 8px; }
  .search .booleans {
    padding-top: 5px; }

.single_record th {
  text-align: right; }

.search {
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
  margin: 5px; }

.search .button {
  float: right; }

.separator {
  padding-left: 3px;
  padding-right: 3px;
  color: #666; }

.search_statistics {
  text-align: right;
  padding-right: 5px; }
