<%= render @appointment %>
<div class="appointment_buttons">
	<%- unless @appointment.status.blank? -%>
	<%- if @appointment.status.upcase == "PENDING" -%>
		<%= link_to 'Approve', approve_appointment_path(@appointment), {:method => :put} %> | 
		<%= link_to 'Deny', deny_appointment_path(@appointment), {:method => :put} %>
	<%- end -%>
	<%- end -%>
</div>
